@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<hgroup class="title">
    <h1>Підтвердження забутого пароля</h1>
</hgroup>
<div>
    <p>
        Якщо у вас є обліковий запис, ми надіслали електронний лист
        з інструкціями щодо скидання пароля.
    </p>
</div>