@model HistoricalMonumentsWebApplication.Models.HistoricalMonumentArchitect

@{
    ViewData["Title"] = "Details";
}

<h1>Подробиці</h1>

<div>
    <h4>Архітектор історичної пам'ятки</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Architect)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Architect.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HistoricalMonument)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HistoricalMonument.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
