<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>@ViewData["Title"]</title>
  @await Html.PartialAsync("_Favicons")
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
  <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true"/>
  <link rel="stylesheet" href="~/HistoricalMonumentsWebApplication.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3 fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
        <img src="~/phostos/coliseum (1).png" title="historical icons" alt="logo" class="logo"/>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ">
        <ul class="navbar-nav flex-grow-1">
          @if (ViewBag.CurrentUrl == "~/Home")
          {
            <li class="nav-item">
                                <a class="nav-link text-light nav-active" asp-area="" asp-controller="Home" asp-action="Index">Головна</a>
            </li>
          }
          else
          {
            <li class="nav-item">
              <a class="nav-link text-light " asp-area="" asp-controller="Home" asp-action="Index">Головна</a>
            </li>
          }

          @if (ViewBag.CurrentUrl == "~/historical-monuments")
          {
            <li class="nav-item">
              <a class="nav-link text-light nav-active" asp-area="" asp-controller="HistoricalMonumentsFilter" asp-action="Index">Історичні пам'ятки</a>
            </li>
          }
          else
          {
            <li class="nav-item">
              <a class="nav-link text-light" asp-area="" asp-controller="HistoricalMonumentsFilter" asp-action="Index">Історичні пам'ятки</a>
            </li>
          }


        </ul>
      </div>
      <div class="my-2 my-lg-0">
        <ul class="navbar-nav">
          @if (User.Identity.IsAuthenticated)
          {
            <li class="nav-item">
              <a class="nav-link text-light">@User.Identity.Name</a>
            </li>
            if (User.IsInRole("Admin"))
            {
              if (ViewBag.CurrentUrl == "~/Admin")
              {
                <li class="nav-item">
                  <a class="nav-link text-light nav-active" asp-area="Admin" asp-controller="Architects" asp-action="Index">Адмін</a>
                </li>
              }
              else
              {
                <li class="nav-item">
                  <a class="nav-link text-light" asp-area="Admin" asp-controller="Architects" asp-action="Index">Адмін</a>
                </li>
              }
            }

            <li class="nav-item">
              <a class="nav-link text-light" asp-controller="Account" asp-action="Logout">Вихід</a>
            </li>
          }
          else
          {
            if (ViewBag.CurrentUrl == "~/Account/Login")
            {
              <li class="nav-item">
                <a asp-controller="Account" asp-action="Login" class="nav-link text-light nav-active">Логін</a>
              </li>
            }
            else
            {
              <li class="nav-item">
                <a asp-controller="Account" asp-action="Login" class="nav-link text-light">Логін</a>
              </li>
            }


            if (ViewBag.CurrentUrl == "~/Account/Register")
            {
              <li class="nav-item">
                <a asp-controller="Account" asp-action="Register" class="nav-link text-light nav-active">Реєстрація</a>
              </li>
            }
            else
            {
              <li class="nav-item">
                <a asp-controller="Account" asp-action="Register" class="nav-link text-light">Реєстрація</a>
              </li>
            }
          }

        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="container navbar-height">
  <main role="main" class="pb-3 ">
    @RenderBody()
  </main>
</div>

<footer class="border-top footer text-muted">
  <div class="container">
    &copy; 2024 - HistoricalMonumentsWebApplication - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
  </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>